*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 32rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.6rem 1.6rem 3.4rem 1.6rem;
  border-radius: 2rem;
  gap: 1.8rem;
  margin-top: 8rem;
  margin-bottom: 2.4rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.03);
}

.barcode-container {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.barcode-container > img {
  display: block;
  max-width: 100%;
}

.text-container {
  text-align: center;
  padding: 1rem;
}

.heading-tertiary {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: hsl(218, 44%, 22%);
}

.sub-heading {
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.attribution {
  text-align: center;
}
